<script type="text/javascript" src="{{site.theme.link}}/assets/js/script.js"></script>
{# {{ function('wp_footer') }} #}

<div id="pageLoader">
	<div class="display-table">
		<div class="table-cell">

			<div class="loader">
				{% include './components/logo.svg' %}
			</div>
			
		</div>
	</div>
</div>