<section id="accordion">
	<hr>
	<div class="row">
		<div class="col-4">
			<h3>Accordion</h3>
			<div>
				<p>Give the container a class of <code>accordion</code>. Within this there is <code>accordion-title</code> and <code>accordion-content</code>. The .accordion-title div is hidden until the .accordion-title is clicked. Be sure to do any spacing on a <code>div</code> within accordion content to avoide odd transitions.</p>
			</div>
		</div>
		<div class="col-8">							
			<div class="accordion">
				<ul>
					<li>
						<div class="icon plus"><span></span></div>
						<h4 class="accordion-title">Section Title</h4>
						<div class="accordion-content">
							<div>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Est tamen ea secundum naturam multoque nos ad se expetendam magis hortatur quam superiora omnia. Sed tamen omne, quod de re bona dilucide dicitur, mihi praeclare dici videtur. Quamquam haec quidem praeposita recte et reiecta dicere licebit. At enim, qua in vita est aliquid mali, ea beata esse non potest. Quid autem habent admirationis, cum prope accesseris? Duo Reges: constructio interrete. </p>
							</div>
						</div>
					</li>
					<li>
						<h4 class="accordion-title">The Title of a Section that Gets Really, Very Long and Will Hit the Icon. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h4>
						<div class="icon plus"><span></span></div>
						<div class="accordion-content">
							<div>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Est tamen ea secundum naturam multoque nos ad se expetendam magis hortatur quam superiora omnia. Sed tamen omne, quod de re bona dilucide dicitur, mihi praeclare dici videtur. Quamquam haec quidem praeposita recte et reiecta dicere licebit. At enim, qua in vita est aliquid mali, ea beata esse non potest. Quid autem habent admirationis, cum prope accesseris? Duo Reges: constructio interrete. </p>
							</div>
						</div>
					</li>
					<li>
						<h4 class="accordion-title">Section Title</h4>
						<div class="icon plus"><span></span></div>
						<div class="accordion-content">
							<div>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Est tamen ea secundum naturam multoque nos ad se expetendam magis hortatur quam superiora omnia. Sed tamen omne, quod de re bona dilucide dicitur, mihi praeclare dici videtur. Quamquam haec quidem praeposita recte et reiecta dicere licebit. At enim, qua in vita est aliquid mali, ea beata esse non potest. Quid autem habent admirationis, cum prope accesseris? Duo Reges: constructio interrete. </p>
							</div>
						</div>
					</li>
					<li>
						<h4 class="accordion-title">Section Title</h4>
						<div class="icon plus"><span></span></div>
						<div class="accordion-content">
							<div>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Est tamen ea secundum naturam multoque nos ad se expetendam magis hortatur quam superiora omnia. Sed tamen omne, quod de re bona dilucide dicitur, mihi praeclare dici videtur. Quamquam haec quidem praeposita recte et reiecta dicere licebit. At enim, qua in vita est aliquid mali, ea beata esse non potest. Quid autem habent admirationis, cum prope accesseris? Duo Reges: constructio interrete. </p>
							</div>
						</div>
					</li>
					<li>
						<h4 class="accordion-title">Section Title</h4>
						<div class="icon plus"><span></span></div>
						<div class="accordion-content">
							<div>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Est tamen ea secundum naturam multoque nos ad se expetendam magis hortatur quam superiora omnia. Sed tamen omne, quod de re bona dilucide dicitur, mihi praeclare dici videtur. Quamquam haec quidem praeposita recte et reiecta dicere licebit. At enim, qua in vita est aliquid mali, ea beata esse non potest. Quid autem habent admirationis, cum prope accesseris? Duo Reges: constructio interrete. </p>
							</div>
						</div>
					</li>
					<li>
						<h4 class="accordion-title">Section Title</h4>
						<div class="icon plus"><span></span></div>
						<div class="accordion-content">
							<div>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Est tamen ea secundum naturam multoque nos ad se expetendam magis hortatur quam superiora omnia. Sed tamen omne, quod de re bona dilucide dicitur, mihi praeclare dici videtur. Quamquam haec quidem praeposita recte et reiecta dicere licebit. At enim, qua in vita est aliquid mali, ea beata esse non potest. Quid autem habent admirationis, cum prope accesseris? Duo Reges: constructio interrete. </p>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>